+font-face($font, '../fonts/roboto/robotoregular', ('woff', 'woff2'))
  font-weight: 400
+font-face($font, '../fonts/roboto/robotolight', ('woff', 'woff2'))
  font-weight: 200
+font-face($font, '../fonts/roboto/robotomedium', ('woff', 'woff2'))
  font-weight: 500
+font-face($font, '../fonts/roboto/robotobold', ('woff', 'woff2'))
  font-weight: 700
+font-face($font, '../fonts/roboto/robotoblack', ('woff', 'woff2'))
  font-weight: 900
