:root
  --main-color: #525252
  --second-color: #eb5055
  --background-color: #f7f6f2
  --text-color: #525252
  --font: "Roboto"
  --second-font: "Helvetica"

$font: var(--font)
$secondFont: var(--second-font)

$mainColor: var(--main-color)
$secondColor: var(--second-color)
$backgroundColor: var(--background-color)
$textColor: var(--text-color)

$width: 1800px

$phone: 480px
$tablet: 768px
$laptop: 992px
$desktop: 1200px
