.header
  position: relative
  background-image: url('../img/header.png')
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover
  height: 100vh
  &-bg
    position: absolute
    object-fit: cover
    width: 100%
    bottom: -1px
    left: 0
    right: 0
  &-info
    +flex(center, center, $dir: column)
    text-align: center
  &__title
    margin-top: rem(20px)
    font-size: 40px
    +tablet
      font-size: 50px
  &__title span
    font-weight: 200
  &__text
    font-size: 16px
    font-weight: 500
    letter-spacing: rem(1px)
    text-transform: uppercase
  &__link
    margin-top: rem(50px)
    background: #ffffff
.logo
  display: flex
  padding: rem(30px) 0
  position: relative
  font-size: 30px
  strong
    padding-right: 10px
  strong::after
    content: url('../img/header2.png')
    +pos-overlay()
    top: 10px
    left: 65px
.nav
  +pos-overlay()
  +flex(center, center, $dir: column)
  top: 0
  transform: translateY(-100vh)
  height: 100vh
  bottom: 0
  +tablet
    height: auto
    padding: rem(30px) 0
    position: static
    background: unset
    +flex($dir: row)
    transform: translateY(0)

  &.is-active
    display: flex
    transform: translateY(0)
    animation: bg 1s forwards

  &__link
    display: flex
    transform: translateY(-100vh)
    color: $textColor
    text-decoration: none
    margin: rem(10px) 0
    text-transform: uppercase
    &--active
      color: $secondColor
    &:hover
      opacity: 0.7

    +tablet
      display: flex
      transform: none
      position: relative
      margin: 0 rem(15px)
      &:last-child
        margin-right: 0

.is-active .nav__link:nth-child(1)
  animation: links 1s forwards
  animation-delay: .7s
.is-active .nav__link:nth-child(2)
  animation: links 1s forwards
  animation-delay: .6s
.is-active .nav__link:nth-child(3)
  animation: links 1s forwards
  animation-delay: .5s
.is-active .nav__link:nth-child(4)
  animation: links 1s forwards
  animation-delay: .4s
.is-active .nav__link:nth-child(5)
  animation: links 1s forwards
  animation-delay: .3s
.hamburger
  padding: rem(30px) 0
  +tablet
    display: none

