.shop
  text-align: center
  padding: rem(20px) 0
.thumbs
  display: flex
  align-items: flex-end
  text-align: center
  gap: rem(20px)
  &-all
    font-size: 0
    margin: 0 rem(20px)
.swiper__thumbs
  margin-bottom: rem(50px)
  text-align: center
.swiper__list
  justify-content: center
  gap: rem(10px)
  list-style: none
  padding: 0
  margin: 0
.swiper-slide
  flex-shrink: 10
  padding: 1rem
  background: $backgroundColor
  border-radius: 10px
.swiper__img
  width: 50%
  height: 50%
.about-us
  padding: rem(20px) 0
  text-align: center
  background: $backgroundColor
  &__info
    max-width: 892px
    margin: 0 auto
    &-title
      font-weight: 900
      font-size: 40px
      span
        font-weight: 200
    &-text
      font-size: 12px
      letter-spacing: 5px
      position: relative
      text-transform: uppercase
      &::after
        content: ''
        position: absolute
        top: 8px
        left: 0
        width: 60px
        height: 3px
        background: #cccccc
      &::before
        content: ''
        position: absolute
        top: 8px
        right: 0
        width: 60px
        height: 3px
        background: #cccccc
    &-desc
      font-family: $secondFont
      font-size: 16px
      line-height: 29px