.main
  padding: rem(20px) 0
  height: 100vh
.thumbs
  display: flex
  align-items: flex-end
  justify-content: center
  gap: rem(20px)
  text-align: center
  &-all
    font-size: 0
    margin: 0 rem(40px)