.shop
  text-align: center
  padding: rem(20px) 0
.thumbs
  display: flex
  align-items: flex-end
  text-align: center
  gap: rem(20px)
  &-all
    font-size: 0
    margin: 0 rem(20px)
.swiper__thumbs
  margin-bottom: rem(50px)
  text-align: center
.swiper__list
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr))
  margin: rem(50px) 0
  justify-content: center
  gap: rem(20px)
.swiper-slide
  min-height: 370px
  padding: 1rem
  background: $backgroundColor
  border-radius: 10px
.about-us
  padding: rem(20px) 0
  text-align: center
  background: $backgroundColor
  &__info
    max-width: 892px
    margin: 0 auto
    &-title
      font-weight: 900
      font-size: 40px
      span
        font-weight: 200
    &-text
      font-size: 12px
      letter-spacing: 5px
      position: relative
      font-weight: 500
      text-transform: uppercase
      &::after
        content: ''
        position: absolute
        top: 6px
        left: 235px
        width: 60px
        height: 3px
        background: #cccccc
      &::before
        content: ''
        position: absolute
        top: 6px
        right: 240px
        width: 60px
        height: 3px
        background: #cccccc
    &-desc
      font-family: $secondFont
      font-size: 16px
      line-height: 29px
  &__list
    margin-top: rem(50px) 0
    display: flex
    justify-content: center
  &__item
    margin: 0 rem(20px)
    padding: rem(20px)
    &:last-child
      margin-top: rem(100px)
      margin-right: 0
    &:first-child
      margin-top: rem(100px)
      margin-left: 0
  &__text
    margin-bottom: rem(50px)